/* body */
body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.25;
}

/* header */
.custom-block {
  padding-bottom: 10px;
}

.padding-top {
  padding-top: 70px;
}

/* block */
.main-block {
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

/* table */
#table-service-plan table {
  border-collapse: collapse;
  table-layout: fixed;
}
#table-service-plan font {
  font-size: 10px;
}
#table-service-plan .collapse-on {
  border:1px solid #333;
}