html {
  height: 100%;
}

/* body */
body {
  font-family: "Open Sans", sans-serif;
  font-size: .1vw;
  white-space: nowrap;
  line-height: 1.25;
  height: 200%
}

/* header */
.custom-block {
  padding-bottom: 10px;
}

.padding-top {
  padding-top: 70px;
}

/* block */
.main-block {
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

/* table */
#table-service-plan {
  height: 50%;
}

#table-service-plan table {
  border-collapse: collapse;
  table-layout: fixed;
}

#table-service-plan td {
  text-align: center;
}

#table-service-plan .collapse-on {
  border:1px solid #333;
}

#table-service-plan-appendix {
  height: 50%;
}

#table-service-plan-appendix table {
  border-collapse: collapse;
  table-layout: fixed;
  height: 100%;
}

#table-service-plan-appendix tr {
  height: 1%;
}

#table-service-plan-appendix td {
  text-align: center;
}

#table-service-plan-appendix .collapse-on {
  border:1px solid #333;
}

/* input */
.custom-file {
  overflow: hidden;
  padding-bottom: 60px;
}
.custom-file-label {
  white-space: nowrap;
}

/* footer */
.footer {
  font-size: 60%;
  color: #777777;
  text-align: right;
}
