<!DOCTYPE html>
<html lang="jp" xmlns:th="http://www.thymeleaf.org">
<link href="/css/style.css" th:href="@{/css/style.css}" rel="stylesheet"/>
<head>
    <meta charset="UTF-8">
    <title>介護 標準様式ファイル確認</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand navbar-dark bg-dark" role="navigation">
        <a class="navbar-brand" href="/">標準様式ファイル確認</a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target=".navbar-collapse" aria-label="Toggle navigation">
            <span class="icon-bar"></span>
        </button>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active"><a class="nav-link" href="#"><i class="fas fa-home" style="font-size:20px;"></i> ホーム</a></li>
                <li class="nav-item active"><a class="nav-link" href="#description"><i class="fas fa-comment" style="font-size:20px;"></i> 説明</a></li>
                <li class="nav-item active"><a class="nav-link" href="#csvconfirm"><i class="fas fa-file-csv" style="font-size:20px;"></i> csv確認</a></li>
                <li class="nav-item active"><a class="nav-link" href="#disclaimer"><i class="fas fa-exclamation-circle" style="font-size:20px;"></i> 免責事項</a></li>
            </ul>
        </div>
    </nav>

    <main class="main-block" role="main">
        <div id="description" class="custom-block">
            <h3><i class="fas fa-comment" style="font-size:30px;"></i> 当サイトの説明</h3>
            <p>本ページは、介護保険法で定められている「介護予防・日常生活支援総合事業」において、<br>
                各自治体が提供している介護予防・日常生活支援総合事業単位数表マスタ（csv）をブラウザ上で確認することができるサービスになります。<br>
                厚生労働省により定められているフォーマットに準じているかどうかのチェックを行うことができます。</p>
        </div>
        <div id="csvconfirm" class="custom-block">
            <h3><i class="fas fa-file-csv" style="font-size:30px;"></i> csvを確認する</h3>
            <form action="import" th:action="@{/import}" method="post" enctype="multipart/form-data">
                <p>手順１：ファイルを選択する</p>
                <div class="custom-file">
                    <input type="file" name="upload_file" class="custom-file-input" id="customFile">
                    <label class="custom-file-label" for="customFile" data-browse="参照">ファイル選択...</label>
                </div>
                <p>手順２：以下の「確認する」ボタンをおす</p>
                <button type="submit" class="btn btn-outline-secondary">確認する</button>
            </form>
        </div>
        <!-- coming soon
        <h2>仕様の詳細</h2>
        <p>対応しているエラーの種類<br>
        </p>
        <hr>
        -->
        <div id="disclaimer" class="custom-block">
            <h3><i class="fas fa-exclamation-circle" style="font-size:30px;"></i> 免責事項</h3>
            <p>
                当サイトのご利用につき、何らかのトラブルや損失・損害等につきましては一切責任を問わないものとします。<br>
                当サイトでは正しい情報を提供するように努めておりますが、正確性、最新性の有無など、その内容については一切の保証を致しかねます。</p>
        </div>
        <div id="footer" class="custom-block">
            <hr>
            <p class="footer">produced by tatsuaki</p>
        </div>
    </main>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.10.2/js/all.js"></script>

    <script>
            $('.custom-file-input').on('change',function(){
                $(this).next('.custom-file-label').html($(this)[0].files[0].name);
            })
    </script>
</body>
</html>