<!DOCTYPE html>
<html lang="jp" xmlns:th="http://www.thymeleaf.org">
<link href="/css/style.css" th:href="@{/css/style.css}" rel="stylesheet"/>
<head>
    <meta charset="UTF-8">
    <title>提供票</title>
</head>
<body>
    <div id="table-service-plan">
        <table>
            <colgroup>
                <col style="width: 2%;">
                <col style="width: 2%;">
                <col style="width: 2%;">
                <col style="width: 2%;">
                <col style="width: 2%;">
                <col style="width: 2%;">
                <col style="width: 2%;">
                <col style="width: 2%;">
                <col style="width: 2%;">
                <col style="width: 2%;"> <!-- 10 -->
                <col style="width: 2%;">
                <col style="width: 2%;">
                <col style="width: 2%;">
                <col style="width: 2%;">
                <col style="width: 2%;">
                <col style="width: 2%;">
                <col style="width: 2%;">
                <col style="width: 2%;">
                <col style="width: 2%;">
                <col style="width: 2%;"> <!-- 10 -->
                <col style="width: 2%;">
                <col style="width: 2%;">
                <col style="width: 2%;">
                <col style="width: 2%;">
                <col style="width: 2%;">
                <col style="width: 2%;">
                <col style="width: 2%;">
                <col style="width: 2%;">
                <col style="width: 2%;">
                <col style="width: 2%;"> <!-- 10 -->
                <col style="width: 2%;">
                <col style="width: 2%;">
                <col style="width: 2%;">
                <col style="width: 2%;">
                <col style="width: 2%;">
                <col style="width: 2%;">
                <col style="width: 2%;">
                <col style="width: 2%;">
                <col style="width: 2%;">
                <col style="width: 2%;"> <!-- 10 -->
                <col style="width: 2%;">
                <col style="width: 2%;">
                <col style="width: 2%;">
                <col style="width: 2%;">
                <col style="width: 2%;">
                <col style="width: 2%;">
                <col style="width: 2%;">
            </colgroup>
            <tbody>
                <tr>
                    <td colspan="3" class="collapse-on">
                        <font>第６票</font>
                    </td>
                    <td colspan="44">
                    </td>
                </tr>
                <tr>
                    <td colspan="47">
                    </td>
                </tr>
                <tr>
                    <td colspan="5" class="collapse-on">
                        <font>認定済み</font>
                    </td>
                    <td colspan="8">
                    </td>
                    <td colspan="3">
                        <font th:text=${servicePlan.serviceProvisionYearMonth.year}></font>
                    </td>
                    <td colspan="1">
                        <font>年</font>
                    </td>
                    <td colspan="1">
                        <font th:text=${servicePlan.serviceProvisionYearMonth.monthValue}></font>
                    </td>
                    <td colspan="2">
                        <font>月分</font>
                    </td>
                    <td colspan="13">
                        <font>サービス提供票</font>
                    </td>
                    <td colspan="4">
                    </td>
                    <td colspan="10" class="collapse-on">
                        <font>居宅介護支援事業者⇒サービス事業者</font>
                    </td>
                </tr>
                <tr>
                    <td colspan="47">
                    </td>
                </tr>
                <tr>
                    <td colspan="3" rowspan="2" class="collapse-on">
                        <font>保険者</font><br><font>番号</font>
                    </td>
                    <td colspan="4" rowspan="2" class="collapse-on">
                    </td>
                    <td colspan="6" rowspan="2" class="collapse-on">
                        <font th:text=${servicePlan.insure.number}></font>
                    </td>
                    <td colspan="3" rowspan="2" class="collapse-on">
                        <font>保険者名
                        </font>
                    </td>
                    <td colspan="5" rowspan="2" class="collapse-on">
                        <font th:text=${servicePlan.insure.name}></font>
                    </td>
                    <td colspan="4" rowspan="2" class="collapse-on">
                        <font>居宅介護支援</font><br><font>事業者事業所名</font><br><font>担当者名</font>
                    </td>
                    <td colspan="11" rowspan="1" class="collapse-on">
                        <font th:text=${servicePlan.careManager.office.name}></font>
                    </td>
                    <td colspan="3" rowspan="2" class="collapse-on">
                        <font>作成年月日</font>
                    </td>
                    <td colspan="3" rowspan="2" class="collapse-on">
                        <font th:text=${servicePlan.creationDate.year}></font>
                    </td>
                    <td colspan="1" rowspan="2" class="collapse-on">
                        <font>年</font>
                    </td>
                    <td colspan="1" rowspan="2" class="collapse-on">
                        <font th:text=${servicePlan.creationDate.monthValue}></font>
                    </td>
                    <td colspan="1" rowspan="2" class="collapse-on">
                        <font>月</font>
                    </td>
                    <td colspan="1" rowspan="2" class="collapse-on">
                        <font th:text=${servicePlan.creationDate.dayOfMonth}></font>
                    </td>
                    <td colspan="1" rowspan="2" class="collapse-on">
                        <font>日</font>
                    </td>
                </tr>
                <tr>
                    <td colspan="5" class="collapse-on">
                        <font th:text=${servicePlan.careManager.name}></font>
                    </td>
                    <td colspan="6" class="collapse-on">
                        <font>TEL </font><font th:text=${servicePlan.careManager.office.telephoneNumber}></font>
                    </td>
                </tr>
                <tr>
                    <td colspan="3" rowspan="2" class="collapse-on">
                        <font>被保険者</font><br><font>番号</font>
                    </td>
                    <td colspan="10" rowspan="2" class="collapse-on">
                        <font th:text=${servicePlan.insuredPerson.insureLicense.number}></font>
                    </td>
                    <td colspan="3" rowspan="2" class="collapse-on">
                        <font>フリガナ</font><br><font>被保険者氏名</font>
                    </td>
                    <td colspan="9" rowspan="1" class="collapse-on">
                        <font th:text=${servicePlan.insuredPerson.nameKana}></font>
                    </td>
                    <td colspan="4" rowspan="2" class="collapse-on">
                        <font>保険者確認印</font>
                    </td>
                    <td colspan="7" rowspan="2" class="collapse-on">
                    </td>
                    <td colspan="3" rowspan="2" class="collapse-on">
                        <font>届出年月日</font>
                    </td>
                    <td colspan="3" rowspan="2" class="collapse-on">
                        <font th:text=${servicePlan.notificationDate.year}></font>
                    </td>
                    <td colspan="1" rowspan="2" class="collapse-on">
                        <font>年</font>
                    </td>
                    <td colspan="1" rowspan="2" class="collapse-on">
                        <font th:text=${servicePlan.notificationDate.monthValue}></font>
                    </td>
                    <td colspan="1" rowspan="2" class="collapse-on">
                        <font>月</font>
                    </td>
                    <td colspan="1" rowspan="2" class="collapse-on">
                        <font th:text=${servicePlan.notificationDate.dayOfMonth}></font>
                    </td>
                    <td colspan="1" rowspan="2" class="collapse-on">
                        <font>日</font>
                    </td>
                </tr>
                <tr>
                    <td colspan="8" class="collapse-on">
                        <font th:text=${servicePlan.insuredPerson.name}></font>
                    </td>
                    <td colspan="1" class="collapse-on">
                        <font>様</font>
                    </td>
                </tr>
                <tr>
                    <td colspan="3" rowspan="3" class="collapse-on">
                        <font>生年月日</font>
                    </td>
                    <td colspan="3" rowspan="1" class="collapse-on">
                        <font>(年号)</font>
                    </td>
                    <td colspan="3" rowspan="1" class="collapse-on">
                        <font th:text=${servicePlan.insuredPerson.birthDate.era}></font>
                    </td>
                    <td colspan="1" rowspan="3" class="collapse-on">
                        <font>性別</font>
                    </td>
                    <td colspan="1" rowspan="3" class="collapse-on">
                        <font th:text=${servicePlan.insuredPerson.sex.name()}></font>
                    </td>
                    <td colspan="3" rowspan="1" class="collapse-on">
                        <font>要介護状態区分</font>
                    </td>
                    <td colspan="7" rowspan="1" class="collapse-on">
                        <font th:text=${servicePlan.insuredPerson.insureLicense.careLevel.name()}></font>
                    </td>
                    <td colspan="4" rowspan="3" class="collapse-on">
                        <font>区分支給</font><br><font>限度基準額</font>
                    </td>
                    <td colspan="8" rowspan="3" class="collapse-on">
                        <font th:text=${servicePlan.insuredPerson.insureLicense.creditLimit}></font><font> 単位 / 月</font>
                    </td>
                    <td colspan="3" rowspan="3" class="collapse-on">
                        <font>限度額</font><br><font>適用期間</font>
                    </td>
                    <td colspan="6" rowspan="1" class="collapse-on">
                    </td>
                    <td colspan="3" rowspan="3" class="collapse-on">
                        <font>前月までの</font><br><font>短期入所</font><br><font>利用日数</font>
                    </td>
                    <td colspan="2" rowspan="2" class="collapse-on">
                        <font th:text=${servicePlan.shortStayUseDaysOfPreviousMonth}></font>
                    </td>
                </tr>
                <tr>
                    <td colspan="1" rowspan="2" class="collapse-on">
                        <font th:text=${servicePlan.insuredPerson.birthDate.year}></font>
                    </td>
                    <td colspan="1" rowspan="2" class="collapse-on">
                        <font>年</font>
                    </td>
                    <td colspan="1" rowspan="2" class="collapse-on">
                        <font th:text=${servicePlan.insuredPerson.birthDate.monthValue}></font>
                    </td>
                    <td colspan="1" rowspan="2" class="collapse-on">
                        <font>月</font>
                    </td>
                    <td colspan="1" rowspan="2" class="collapse-on">
                        <font th:text=${servicePlan.insuredPerson.birthDate.dayOfMonth}></font>
                    </td>
                    <td colspan="1" rowspan="2" class="collapse-on">
                        <font>日</font>
                    </td>
                    <td colspan="3" rowspan="2" class="collapse-on">
                        <font>変更後<br></font><font>要介護状態区分</font><br><font>変更日</font>
                    </td>
                    <td colspan="7" rowspan="1" class="collapse-on">
                        <font th:text=${servicePlan.insuredPerson.insureLicense.previousCareLevel}></font>
                    </td>
                    <td colspan="6" rowspan="1" class="collapse-on">
                        <font th:text=${servicePlan.insuredPerson.insureLicense.creditLimitFrom.year}></font><font>年</font><font th:text=${servicePlan.insuredPerson.insureLicense.creditLimitFrom.monthValue}></font><font>月から</font>
                    </td>
                 </tr>
                <tr>
                    <td colspan="7" rowspan="1" class="collapse-on">
                        <font th:text=${servicePlan.insuredPerson.insureLicense.careLevelUpdateDate.year}></font><font>年</font><font th:text=${servicePlan.insuredPerson.insureLicense.careLevelUpdateDate.monthValue}></font><font>月</font><font th:text=${servicePlan.insuredPerson.insureLicense.careLevelUpdateDate.dayOfMonth}></font><font>日</font>
                    </td>
                    <td colspan="6" rowspan="1" class="collapse-on">
                        <font th:text=${servicePlan.insuredPerson.insureLicense.creditLimitTo.year}></font><font>年</font><font th:text=${servicePlan.insuredPerson.insureLicense.creditLimitTo.monthValue}></font><font>月まで</font>
                    </td>
                    <td colspan="2" rowspan="1" class="collapse-on">
                        <font>日</font>
                    </td>
                </tr>
                <tr>
                    <td colspan="47">
                    </td>
                </tr>
                <tr>
                    <td colspan="3" rowspan="3" class="collapse-on">
                        <font>提供時間</font>
                    </td>
                    <td colspan="5" rowspan="3" class="collapse-on">
                        <font>サービス内容</font>
                    </td>
                    <td colspan="5" rowspan="3" class="collapse-on">
                        <font>サービス</font><br><font>事業者</font><br><font>事業所名</font>
                    </td>
                    <td colspan="1" rowspan="1" class="collapse-on">
                    </td>
                    <td colspan="33" rowspan="1" class="collapse-on">
                        <font>月間サービス計画及び実績の記録</font>
                    </td>
                </tr>
                <tr>
                    <td colspan="1" rowspan="1" class="collapse-on">
                        <font>日付</font>
                    </td>
                    <td colspan="1" rowspan="1" th:each="day : ${#numbers.sequence(1, 31)}" class="collapse-on">
                        <font th:text=${day}></font>
                    </td>
                    <td colspan="2" rowspan="2" class="collapse-on">
                        <font>合計</font>
                    </td>
                </tr>
                <tr>
                    <td colspan="1" rowspan="1" class="collapse-on">
                        <font>曜日</font>
                    </td>
                    <td colspan="1" rowspan="1" th:each="day : ${#numbers.sequence(1, 31)}" class="collapse-on">
                        <font th:text=${day}></font>
                    </td>
                </tr>
                <div th:each="providedService : ${servicePlan.providedServices}">
                    <div th:each="planResult : ${providedService.providedTime.planResults}">
                        <tr>
                            <td colspan="3" rowspan="1" class="collapse-on">
                                <font th:text=${planResult.key.from}></font><font>〜</font>
                            </td>
                            <td colspan="5" rowspan="2" class="collapse-on">
                                <font th:text=${providedService.careService.name}></font>
                            </td>
                            <td colspan="5" rowspan="2" class="collapse-on">
                                <font th:text=${providedService.office.name}></font>
                            </td>
                            <td colspan="1" rowspan="1" class="collapse-on">
                                <font>予定</font>
                            </td>
                            <td colspan="1" rowspan="1" th:each="day : ${#numbers.sequence(1, 31)}" class="collapse-on">
                                <font th:text=${planResult.value.getPlanDay(day)}></font>
                            </td>
                            <td colspan="2" rowspan="1" class="collapse-on">
                                <font th:text=${planResult.value.getPlanDays().size()}></font>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3" rowspan="1" class="collapse-on">
                                <font th:text=${planResult.key.from}></font>
                            </td>
                            <td colspan="1" rowspan="1" class="collapse-on">
                                <font>実績</font>
                            </td>
                            <td colspan="1" rowspan="1" th:each="day : ${#numbers.sequence(1, 31)}" class="collapse-on">
                                <font th:text=${planResult.value.getResultDay(day)}></font>
                            </td>
                            <td colspan="2" rowspan="1" class="collapse-on">
                                <font th:text=${planResult.value.getResultDays().size()}></font>
                            </td>
                        </tr>
                    </div>
                </div>
            </tbody>
        </table>
    </div>
</body>
</html>