<!DOCTYPE html>
<html lang="jp" xmlns:th="http://www.thymeleaf.org">
<link href="/css/style.css" th:href="@{/css/style.css}" rel="stylesheet"/>
<head>
    <meta charset="UTF-8">
    <title>提供票</title>
</head>
<body>
    <div id="table-service-plan">
        <table>
            <colgroup>
                <col style="width: 2%;">
                <col style="width: 2%;">
                <col style="width: 2%;">
                <col style="width: 2%;">
                <col style="width: 2%;">
                <col style="width: 2%;">
                <col style="width: 2%;">
                <col style="width: 2%;">
                <col style="width: 2%;">
                <col style="width: 2%;"> <!-- 10 -->
                <col style="width: 2%;">
                <col style="width: 2%;">
                <col style="width: 2%;">
                <col style="width: 2%;">
                <col style="width: 2%;">
                <col style="width: 2%;">
                <col style="width: 2%;">
                <col style="width: 2%;">
                <col style="width: 2%;">
                <col style="width: 2%;"> <!-- 10 -->
                <col style="width: 2%;">
                <col style="width: 2%;">
                <col style="width: 2%;">
                <col style="width: 2%;">
                <col style="width: 2%;">
                <col style="width: 2%;">
                <col style="width: 2%;">
                <col style="width: 2%;">
                <col style="width: 2%;">
                <col style="width: 2%;"> <!-- 10 -->
                <col style="width: 2%;">
                <col style="width: 2%;">
                <col style="width: 2%;">
                <col style="width: 2%;">
                <col style="width: 2%;">
                <col style="width: 2%;">
                <col style="width: 2%;">
                <col style="width: 2%;">
                <col style="width: 2%;">
                <col style="width: 2%;"> <!-- 10 -->
                <col style="width: 2%;">
                <col style="width: 2%;">
                <col style="width: 2%;">
                <col style="width: 2%;">
                <col style="width: 2%;">
                <col style="width: 2%;">
                <col style="width: 2%;">
            </colgroup>
            <tbody>
                <tr>
                    <td colspan="3" class="collapse-on">
                        <font>第６票</font>
                    </td>
                    <td colspan="44">
                    </td>
                </tr>
                <tr>
                    <td colspan="47">
                    </td>
                </tr>
                <tr>
                    <td colspan="5" class="collapse-on">
                        <font>認定済み</font>
                    </td>
                    <td colspan="8">
                    </td>
                    <td colspan="3">
                        <font th:text=${servicePlan.serviceProvisionYearMonth.yearMonth.year}></font>
                    </td>
                    <td colspan="1">
                        <font>年</font>
                    </td>
                    <td colspan="1">
                        <font th:text=${servicePlan.serviceProvisionYearMonth.yearMonth.monthValue}></font>
                    </td>
                    <td colspan="2">
                        <font>月分</font>
                    </td>
                    <td colspan="13">
                        <font>サービス提供票</font>
                    </td>
                    <td colspan="4">
                    </td>
                    <td colspan="10" class="collapse-on">
                        <font>居宅介護支援事業者⇒サービス事業者</font>
                    </td>
                </tr>
                <tr>
                    <td colspan="47">
                    </td>
                </tr>
                <tr>
                    <td colspan="3" rowspan="2" class="collapse-on">
                        <font>保険者</font><br><font>番号</font>
                    </td>
                    <td colspan="4" rowspan="2" class="collapse-on">
                    </td>
                    <td colspan="6" rowspan="2" class="collapse-on">
                        <font th:text=${servicePlan.insure.number}></font>
                    </td>
                    <td colspan="3" rowspan="2" class="collapse-on">
                        <font>保険者名
                        </font>
                    </td>
                    <td colspan="5" rowspan="2" class="collapse-on">
                        <font th:text=${servicePlan.insure.name}></font>
                    </td>
                    <td colspan="4" rowspan="2" class="collapse-on">
                        <font>居宅介護支援</font><br><font>事業者事業所名</font><br><font>担当者名</font>
                    </td>
                    <td colspan="11" rowspan="1" class="collapse-on">
                        <font th:text=${servicePlan.careManager.office.name}></font>
                    </td>
                    <td colspan="3" rowspan="2" class="collapse-on">
                        <font>作成年月日</font>
                    </td>
                    <td colspan="3" rowspan="2" class="collapse-on">
                        <font th:text=${servicePlan.creationDate.year}></font>
                    </td>
                    <td colspan="1" rowspan="2" class="collapse-on">
                        <font>年</font>
                    </td>
                    <td colspan="1" rowspan="2" class="collapse-on">
                        <font th:text=${servicePlan.creationDate.monthValue}></font>
                    </td>
                    <td colspan="1" rowspan="2" class="collapse-on">
                        <font>月</font>
                    </td>
                    <td colspan="1" rowspan="2" class="collapse-on">
                        <font th:text=${servicePlan.creationDate.dayOfMonth}></font>
                    </td>
                    <td colspan="1" rowspan="2" class="collapse-on">
                        <font>日</font>
                    </td>
                </tr>
                <tr>
                    <td colspan="5" class="collapse-on">
                        <font th:text=${servicePlan.careManager.name}></font>
                    </td>
                    <td colspan="6" class="collapse-on">
                        <font>TEL </font><font th:text=${servicePlan.careManager.office.telephoneNumber}></font>
                    </td>
                </tr>
                <tr>
                    <td colspan="3" rowspan="2" class="collapse-on">
                        <font>被保険者</font><br><font>番号</font>
                    </td>
                    <td colspan="10" rowspan="2" class="collapse-on">
                        <font th:text=${servicePlan.insuredPerson.insureLicense.number}></font>
                    </td>
                    <td colspan="3" rowspan="2" class="collapse-on">
                        <font>フリガナ</font><br><font>被保険者氏名</font>
                    </td>
                    <td colspan="9" rowspan="1" class="collapse-on">
                        <font th:text=${servicePlan.insuredPerson.nameKana}></font>
                    </td>
                    <td colspan="4" rowspan="2" class="collapse-on">
                        <font>保険者確認印</font>
                    </td>
                    <td colspan="7" rowspan="2" class="collapse-on">
                    </td>
                    <td colspan="3" rowspan="2" class="collapse-on">
                        <font>届出年月日</font>
                    </td>
                    <td colspan="3" rowspan="2" class="collapse-on">
                        <!--/* 届出年月日はcsvから情報が取得できないため空白 */-->
                    </td>
                    <td colspan="1" rowspan="2" class="collapse-on">
                        <font>年</font>
                    </td>
                    <td colspan="1" rowspan="2" class="collapse-on">
                        <!--/* 届出年月日はcsvから情報が取得できないため空白 */-->
                    </td>
                    <td colspan="1" rowspan="2" class="collapse-on">
                        <font>月</font>
                    </td>
                    <td colspan="1" rowspan="2" class="collapse-on">
                        <!--/* 届出年月日はcsvから情報が取得できないため空白 */-->
                    </td>
                    <td colspan="1" rowspan="2" class="collapse-on">
                        <font>日</font>
                    </td>
                </tr>
                <tr>
                    <td colspan="8" class="collapse-on">
                        <font th:text=${servicePlan.insuredPerson.name}></font>
                    </td>
                    <td colspan="1" class="collapse-on">
                        <font>様</font>
                    </td>
                </tr>
                <tr>
                    <td colspan="3" rowspan="3" class="collapse-on">
                        <font>生年月日</font>
                    </td>
                    <td colspan="3" rowspan="1" class="collapse-on">
                        <font>(年号)</font>
                    </td>
                    <td colspan="3" rowspan="1" class="collapse-on">
                        <font th:text=${servicePlan.insuredPerson.birthDate.era}></font>
                    </td>
                    <td colspan="1" rowspan="3" class="collapse-on">
                        <font>性別</font>
                    </td>
                    <td colspan="1" rowspan="3" class="collapse-on">
                        <font th:text=${servicePlan.insuredPerson.sex.name()}></font>
                    </td>
                    <td colspan="3" rowspan="1" class="collapse-on">
                        <font>要介護状態区分</font>
                    </td>
                    <td colspan="7" rowspan="1" class="collapse-on">
                        <font th:text=${servicePlan.insuredPerson.insureLicense.careLevel.name()}></font>
                    </td>
                    <td colspan="4" rowspan="3" class="collapse-on">
                        <font>区分支給</font><br><font>限度基準額</font>
                    </td>
                    <td colspan="8" rowspan="3" class="collapse-on">
                        <font th:text=${servicePlan.insuredPerson.insureLicense.creditLimit}></font><font> 単位 / 月</font>
                    </td>
                    <td colspan="3" rowspan="3" class="collapse-on">
                        <font>限度額</font><br><font>適用期間</font>
                    </td>
                    <td colspan="6" rowspan="1" class="collapse-on">
                    </td>
                    <td colspan="3" rowspan="3" class="collapse-on">
                        <font>前月までの</font><br><font>短期入所</font><br><font>利用日数</font>
                    </td>
                    <td colspan="2" rowspan="2" class="collapse-on">
                        <font th:text=${servicePlan.shortStayUseDaysOfPreviousMonth}></font>
                    </td>
                </tr>
                <tr>
                    <td colspan="1" rowspan="2" class="collapse-on">
                        <font th:text=${servicePlan.insuredPerson.birthDate.year}></font>
                    </td>
                    <td colspan="1" rowspan="2" class="collapse-on">
                        <font>年</font>
                    </td>
                    <td colspan="1" rowspan="2" class="collapse-on">
                        <font th:text=${servicePlan.insuredPerson.birthDate.monthValue}></font>
                    </td>
                    <td colspan="1" rowspan="2" class="collapse-on">
                        <font>月</font>
                    </td>
                    <td colspan="1" rowspan="2" class="collapse-on">
                        <font th:text=${servicePlan.insuredPerson.birthDate.dayOfMonth}></font>
                    </td>
                    <td colspan="1" rowspan="2" class="collapse-on">
                        <font>日</font>
                    </td>
                    <td colspan="3" rowspan="1" class="collapse-on">
                        <font>前回<br></font><font>要介護状態区分</font>
                    </td>
                    <td colspan="7" rowspan="1" class="collapse-on">
                        <font th:text=${servicePlan.insuredPerson.insureLicense.previousCareLevel}></font>
                    </td>
                    <td colspan="6" rowspan="1" class="collapse-on">
                        <font th:text=${servicePlan.insuredPerson.insureLicense.creditLimitFrom.year}></font><font>年</font><font th:text=${servicePlan.insuredPerson.insureLicense.creditLimitFrom.monthValue}></font><font>月から</font>
                    </td>
                 </tr>
                <tr>
                    <td colspan="3" rowspan="1" class="collapse-on">
                        <font>変更日</font>
                    </td>
                    <td colspan="7" rowspan="1" class="collapse-on">
                        <font th:text=${servicePlan.insuredPerson.insureLicense.careLevelUpdateDate.year}></font><font>年</font><font th:text=${servicePlan.insuredPerson.insureLicense.careLevelUpdateDate.monthValue}></font><font>月</font><font th:text=${servicePlan.insuredPerson.insureLicense.careLevelUpdateDate.dayOfMonth}></font><font>日</font>
                    </td>
                    <td colspan="6" rowspan="1" class="collapse-on">
                        <font th:text=${servicePlan.insuredPerson.insureLicense.creditLimitTo.year}></font><font>年</font><font th:text=${servicePlan.insuredPerson.insureLicense.creditLimitTo.monthValue}></font><font>月まで</font>
                    </td>
                    <td colspan="2" rowspan="1" class="collapse-on">
                        <font>日</font>
                    </td>
                </tr>
                <tr>
                    <td colspan="47">
                    </td>
                </tr>
                <tr>
                    <td colspan="3" rowspan="3" class="collapse-on">
                        <font>提供時間</font>
                    </td>
                    <td colspan="5" rowspan="3" class="collapse-on">
                        <font>サービス内容</font>
                    </td>
                    <td colspan="5" rowspan="3" class="collapse-on">
                        <font>サービス</font><br><font>事業者</font><br><font>事業所名</font>
                    </td>
                    <td colspan="1" rowspan="1" class="collapse-on">
                    </td>
                    <td colspan="33" rowspan="1" class="collapse-on">
                        <font>月間サービス計画及び実績の記録</font>
                    </td>
                </tr>
                <tr>
                    <td colspan="1" rowspan="1" class="collapse-on">
                        <font>日付</font>
                    </td>
                    <td colspan="1" rowspan="1" th:each="day : ${servicePlan.serviceProvisionYearMonth.getMapDayToDayOfWeek()}" class="collapse-on">
                        <font th:text=${day.key}></font>
                    </td>
                    <td colspan="1" rowspan="1" th:each="day : ${#numbers.sequence(servicePlan.serviceProvisionYearMonth.getMapDayToDayOfWeek().size()+1, 31)}" class="collapse-on">
                        <!-- 31日までの穴埋め -->
                    </td>
                    <td colspan="2" rowspan="2" class="collapse-on">
                        <font>合計</font>
                    </td>
                </tr>
                <tr>
                    <td colspan="1" rowspan="1" class="collapse-on">
                        <font>曜日</font>
                    </td>
                    <td colspan="1" rowspan="1" th:each="day : ${servicePlan.serviceProvisionYearMonth.getMapDayToDayOfWeek()}" class="collapse-on">
                        <font th:text=${day.value}></font>
                    </td>
                    <td colspan="1" rowspan="1" th:each="day : ${#numbers.sequence(servicePlan.serviceProvisionYearMonth.getMapDayToDayOfWeek().size()+1, 31)}" class="collapse-on">
                        <!-- 31日までの穴埋め -->
                    </td>
                </tr>
                <div th:each="providedService : ${servicePlan.providedServices.list}">
                    <div th:each="planResult : ${providedService.providedTime.planResults}">
                        <tr>
                            <td colspan="3" rowspan="1" class="collapse-on">
                                <font th:text=${planResult.key.from}></font><font>〜</font>
                            </td>
                            <td colspan="5" rowspan="2" class="collapse-on">
                                <font th:text=${providedService.careService.name}></font>
                            </td>
                            <td colspan="5" rowspan="2" class="collapse-on">
                                <font th:text=${providedService.office.name}></font>
                            </td>
                            <td colspan="1" rowspan="1" class="collapse-on">
                                <font>予定</font>
                            </td>
                            <td colspan="1" rowspan="1" th:each="day : ${#numbers.sequence(1, 31)}" class="collapse-on">
                                <font th:text=${planResult.value.getPlanDay(day)}></font>
                            </td>
                            <td colspan="2" rowspan="1" class="collapse-on">
                                <font th:text=${planResult.value.getPlanDays().size()}></font>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3" rowspan="1" class="collapse-on">
                                <font th:text=${planResult.key.to}></font>
                            </td>
                            <td colspan="1" rowspan="1" class="collapse-on">
                                <font>実績</font>
                            </td>
                            <td colspan="1" rowspan="1" th:each="day : ${#numbers.sequence(1, 31)}" class="collapse-on">
                                <font th:text=${planResult.value.getResultDay(day)}></font>
                            </td>
                            <td colspan="2" rowspan="1" class="collapse-on">
                                <font th:text=${planResult.value.getResultDays().size()}></font>
                            </td>
                        </tr>
                    </div>
                </div>

                <div th:each="noUse : ${#numbers.sequence(servicePlan.providedServices.countProvidedServiceKind()+1, 13)}">
                    <!-- 13行までの穴埋め -->
                    <tr>
                        <td colspan="3" rowspan="1" class="collapse-on">
                        </td>
                        <td colspan="5" rowspan="2" class="collapse-on">
                        </td>
                        <td colspan="5" rowspan="2" class="collapse-on">
                        </td>
                        <td colspan="1" rowspan="1" class="collapse-on">
                            <font>予定</font>
                        </td>
                        <td colspan="1" rowspan="1" th:each="day : ${#numbers.sequence(1, 31)}" class="collapse-on">
                        </td>
                        <td colspan="2" rowspan="1" class="collapse-on">
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3" rowspan="1" class="collapse-on">
                        </td>
                        <td colspan="1" rowspan="1" class="collapse-on">
                            <font>実績</font>
                        </td>
                        <td colspan="1" rowspan="1" th:each="day : ${#numbers.sequence(1, 31)}" class="collapse-on">
                        </td>
                        <td colspan="2" rowspan="1" class="collapse-on">
                        </td>
                    </tr>
                </div>

            </tbody>
        </table>
    </div>

    <!-- 別表 -->
    <div id="table-service-plan-appendix">
        <table>
            <colgroup>
                <col style="width: 1%;">
                <col style="width: 1%;">
                <col style="width: 1%;">
                <col style="width: 1%;">
                <col style="width: 1%;">
                <col style="width: 1%;">
                <col style="width: 1%;">
                <col style="width: 1%;">
                <col style="width: 1%;">
                <col style="width: 1%;"> <!-- 10 -->
                <col style="width: 1%;">
                <col style="width: 1%;">
                <col style="width: 1%;">
                <col style="width: 1%;">
                <col style="width: 1%;">
                <col style="width: 1%;">
                <col style="width: 1%;">
                <col style="width: 1%;">
                <col style="width: 1%;">
                <col style="width: 1%;"> <!-- 10 -->
                <col style="width: 1%;">
                <col style="width: 1%;">
                <col style="width: 1%;">
                <col style="width: 1%;">
                <col style="width: 1%;">
                <col style="width: 1%;">
                <col style="width: 1%;">
                <col style="width: 1%;">
                <col style="width: 1%;">
                <col style="width: 1%;"> <!-- 10 -->
                <col style="width: 1%;">
                <col style="width: 1%;">
                <col style="width: 1%;">
                <col style="width: 1%;">
                <col style="width: 1%;">
                <col style="width: 1%;">
                <col style="width: 1%;">
                <col style="width: 1%;">
                <col style="width: 1%;">
                <col style="width: 1%;"> <!-- 10 -->
                <col style="width: 1%;">
                <col style="width: 1%;">
                <col style="width: 1%;">
                <col style="width: 1%;">
                <col style="width: 1%;">
                <col style="width: 1%;">
                <col style="width: 1%;">
                <col style="width: 1%;">
                <col style="width: 1%;">
                <col style="width: 1%;"> <!-- 10 -->
                <col style="width: 1%;">
                <col style="width: 1%;">
                <col style="width: 1%;">
                <col style="width: 1%;">
            </colgroup>
            <tbody>
            <tr>
                <td colspan="3" class="collapse-on">
                    <font>第７票</font>
                </td>
                <td colspan="52">
                </td>
            </tr>
            <tr>
                <td colspan="55">
                </td>
            </tr>
            <tr>
                <td colspan="18" rowspan="2" class="collapse-on">
                </td>
                <td colspan="19" rowspan="2" class="collapse-on">
                    <font>サービス提供票別表</font>
                </td>
                <td colspan="4" rowspan="2" class="collapse-on">
                </td>
                <td colspan="5" rowspan="1" class="collapse-on">
                    <font>作成年月日</font>
                </td>
                <td colspan="9" rowspan="1" class="collapse-on">
                    <font th:text=${servicePlan.creationDate.year}></font><font>年</font><font th:text=${servicePlan.creationDate.monthValue}></font><font>月</font><font th:text=${servicePlan.creationDate.dayOfMonth}></font><font>日</font>
                </td>
            </tr>
            <tr>
                <td colspan="5" rowspan="1" class="collapse-on">
                </td>
                <td colspan="9" rowspan="1" class="collapse-on">
                    <font>(</font><font th:text=${servicePlan.creationDate.monthValue}></font><font>月分)</font>
                </td>
            </tr>
            <tr>
                <td colspan="9" class="collapse-on">
                    <font>区分支給限度管理・利用者負担計算</font>
                </td>
                <td colspan="18" class="collapse-on">
                </td>
                <td colspan="6" class="collapse-on">
                    <font>被保険者番号：</font>
                </td>
                <td colspan="6" class="collapse-on">
                    <font th:text=${servicePlan.insuredPerson.insureLicense.number}></font>
                </td>
                <td colspan="2" class="collapse-on">
                </td>
                <td colspan="5" class="collapse-on">
                    <font>利用者名:</font>
                </td>
                <td colspan="9" class="collapse-on">
                    <font th:text=${servicePlan.insuredPerson.name}></font>
                </td>
            </tr>
            <tr>
                <td colspan="5" rowspan="2" class="collapse-on">
                    <font>事業所名</font>
                </td>
                <td colspan="4" rowspan="2" class="collapse-on">
                    <font>事業所番号</font>
                </td>
                <td colspan="5" rowspan="2" class="collapse-on">
                    <font>サービス内容/種類</font>
                </td>
                <td colspan="2" rowspan="2" class="collapse-on">
                    <font>サービスコード</font>
                </td>
                <td colspan="2" rowspan="2" class="collapse-on">
                    <font>単位数</font>
                </td>
                <td colspan="4" rowspan="1" class="collapse-on">
                    <font>割引後</font>
                </td>
                <td colspan="2" rowspan="2" class="collapse-on">
                    <font>回数</font>
                </td>
                <td colspan="3" rowspan="2" class="collapse-on">
                    <font>サービス</font><br><font>単位/金額</font>
                </td>
                <td colspan="3" rowspan="2" class="collapse-on">
                    <font>種類支給限度</font><br><font>基準を超える</font><br><font>単位数</font>
                </td>
                <td colspan="3" rowspan="2" class="collapse-on">
                    <font>種類支給限度</font><br><font>基準内単位数</font>
                </td>
                <td colspan="3" rowspan="2" class="collapse-on">
                    <font>区分支給限度</font><br><font>基準を超える</font><br><font>単位数</font>
                </td>
                <td colspan="3" rowspan="2" class="collapse-on">
                    <font>区分支給限度</font><br><font>基準内単位数</font>
                </td>
                <td colspan="2" rowspan="2" class="collapse-on">
                    <font>単位数</font><br><font>単価</font>
                </td>
                <td colspan="3" rowspan="2" class="collapse-on">
                    <font>費用総額</font><br><font>（保険対象分）</font>
                </td>
                <td colspan="2" rowspan="2" class="collapse-on">
                    <font>給付率</font><br><font>（%）</font>
                </td>
                <td colspan="3" rowspan="2" class="collapse-on">
                    <font>保険給付額</font>
                </td>
                <td colspan="3" rowspan="2" class="collapse-on">
                    <font>利用者負担</font><br><font>（保険対象分）</font>
                </td>
                <td colspan="3" rowspan="2" class="collapse-on">
                    <font>利用者負担</font><br><font>（全額負担分）</font>
                </td>
            </tr>
            <tr>
                <td colspan="2" rowspan="1" class="collapse-on">
                    <font>率%</font>
                </td>
                <td colspan="2" rowspan="1" class="collapse-on">
                    <font>単位数</font>
                </td>
            </tr>
            <div th:each="providedService : ${servicePlan.providedServices.list}">
                <tr>
                    <td colspan="5" class="collapse-on">
                        <font th:text=${providedService.office.name}></font>
                    </td>
                    <td colspan="4" class="collapse-on">
                        <font th:text=${providedService.office.number}></font>
                    </td>
                    <td colspan="5" class="collapse-on">
                        <font th:text=${providedService.careService.name}></font>
                    </td>
                    <td colspan="2" class="collapse-on">
                        <font th:text=${providedService.careService.code}></font>
                    </td>
                    <td colspan="2" class="collapse-on">
                        <font th:text=${providedService.careService.unitNumber}></font>
                    </td>
                    <td colspan="2" class="collapse-on">
                        <font th:text=${providedService.careService.discountRate}></font>
                    </td>
                    <td colspan="2" class="collapse-on">
                        <font th:text=${providedService.careService.discountedUnitNumber}></font>
                    </td>
                    <td colspan="2" class="collapse-on">
                        <font th:text=${providedService.providedTime.getPlanTotalCount()}></font>
                    </td>
                    <td colspan="3" class="collapse-on">
                        <font th:text=${providedService.careService.totalUnitNumber}></font>
                    </td>
                    <td colspan="3" class="collapse-on">
                        <font th:text=${providedService.careService.overKindUnitNumber}></font>
                    </td>
                    <td colspan="3" class="collapse-on">
                        <font th:text=${providedService.careService.kindUnitNumber}></font>
                    </td>
                    <td colspan="3" class="collapse-on">
                        <font th:text=${providedService.careService.overDivisionUnitNumber}></font>
                    </td>
                    <td colspan="3" class="collapse-on">
                        <font th:text=${providedService.careService.divisionUnitNumber}></font>
                    </td>
                    <td colspan="2" class="collapse-on">
                        <font th:text=${providedService.careService.unitPrice}></font>
                    </td>
                    <td colspan="3" class="collapse-on">
                        <font th:text=${providedService.careService.totalInsuranceDemand}></font>
                    </td>
                    <td colspan="2" class="collapse-on">
                        <font th:text=${providedService.careService.benefitsRate}></font>
                    </td>
                    <td colspan="3" class="collapse-on">
                        <font th:text=${providedService.careService.paidInsuranceDemandFromInsurance}></font>
                    </td>
                    <td colspan="3" class="collapse-on">
                        <font th:text=${providedService.careService.paidInsuranceDemandFromInsuredPerson}></font>
                    </td>
                    <td colspan="3" class="collapse-on">
                        <font th:text=${providedService.careService.totalInsuredPersonDemand}></font>
                    </td>
                </tr>
            </div>
            <div th:each="noUse : ${#numbers.sequence(servicePlan.providedServices.list.size()+1, 13)}">
                <!-- 13行までの穴埋め -->
                <tr>
                    <td colspan="5" class="collapse-on">
                    </td>
                    <td colspan="4" class="collapse-on">
                    </td>
                    <td colspan="5" class="collapse-on">
                    </td>
                    <td colspan="2" class="collapse-on">
                    </td>
                    <td colspan="2" class="collapse-on">
                    </td>
                    <td colspan="2" class="collapse-on">
                    </td>
                    <td colspan="2" class="collapse-on">
                    </td>
                    <td colspan="2" class="collapse-on">
                    </td>
                    <td colspan="3" class="collapse-on">
                    </td>
                    <td colspan="3" class="collapse-on">
                    </td>
                    <td colspan="3" class="collapse-on">
                    </td>
                    <td colspan="3" class="collapse-on">
                    </td>
                    <td colspan="3" class="collapse-on">
                    </td>
                    <td colspan="2" class="collapse-on">
                    </td>
                    <td colspan="3" class="collapse-on">
                    </td>
                    <td colspan="2" class="collapse-on">
                    </td>
                    <td colspan="3" class="collapse-on">
                    </td>
                    <td colspan="3" class="collapse-on">
                    </td>
                    <td colspan="3" class="collapse-on">
                    </td>
                </tr>
            </div>
            <tr>
                <td colspan="14" class="collapse-on">
                </td>
                <td colspan="4" class="collapse-on">
                    <font>区分支給限度</font><br><font>基準額（単位）</font>
                </td>
                <td colspan="4" class="collapse-on">
                    <font th:text=${servicePlan.limitDivisionUnitNumber}></font>
                </td>
                <td colspan="2" class="collapse-on">
                    <font>合計</font>
                </td>
                <td colspan="3" class="collapse-on">
                    <font th:text=${servicePlan.totalUnitNumber.totalUnitNumber}>488</font>
                </td>
                <td colspan="3" class="collapse-on">
                    <font th:text=${servicePlan.totalUnitNumber.overKindUnitNumber}></font>
                </td>
                <td colspan="3" class="collapse-on">
                    <font th:text=${servicePlan.totalUnitNumber.kindUnitNumber}></font>
                </td>
                <td colspan="3" class="collapse-on">
                    <font th:text=${servicePlan.totalUnitNumber.overDivisionUnitNumber}></font>
                </td>
                <td colspan="3" class="collapse-on">
                    <font th:text=${servicePlan.totalUnitNumber.divisionUnitNumber}></font>
                </td>
                <td colspan="2" class="collapse-on">
                    <font></font>
                </td>
                <td colspan="3" class="collapse-on">
                    <font th:text=${servicePlan.totalUnitNumber.totalInsuranceDemand}></font>
                </td>
                <td colspan="2" class="collapse-on">
                    <font></font>
                </td>
                <td colspan="3" class="collapse-on">
                    <font th:text=${servicePlan.totalUnitNumber.paidInsuranceDemandFromInsurance}></font>
                </td>
                <td colspan="3" class="collapse-on">
                    <font th:text=${servicePlan.totalUnitNumber.paidInsuranceDemandFromInsuredPerson}></font>
                </td>
                <td colspan="3" class="collapse-on">
                    <font th:text=${servicePlan.totalUnitNumber.totalInsuredPersonDemand}></font>
                </td>
            </tr>
            <tr>
                <td colspan="55">
                </td>
            </tr>
            <tr>
                <td colspan="9">
                    <font>種類別支給限度額管理</font>
                </td>
                <td colspan="46">
                    <font></font>
                </td>
            </tr>
            <tr>
                <td colspan="9" class="collapse-on">
                    <font>サービス種類</font>
                </td>
                <td colspan="5" class="collapse-on">
                    <font>種類支給限度</font><br><font>基準額（単位）</font>
                </td>
                <td colspan="2" class="collapse-on">
                    <font>合計単位数</font>
                </td>
                <td colspan="4" class="collapse-on">
                    <font>種類支給限度基準</font><br><font>を超える単位数</font>
                </td>
                <td colspan="9" class="collapse-on">
                    <font>サービス種類</font>
                </td>
                <td colspan="5" class="collapse-on">
                    <font>種類支給限度</font><br><font>基準額（単位）</font>
                </td>
                <td colspan="2" class="collapse-on">
                    <font>合計単位数</font>
                </td>
                <td colspan="4" class="collapse-on">
                    <font>種類支給限度基準</font><br><font>を超える単位数</font>
                </td>
                <td colspan="15">
                </td>
            </tr>
            <tr>
                <td colspan="9" class="collapse-on">
                    <font th:text=${servicePlan.kindUnitNumberManagements[0].serviceKindCode}></font>
                </td>
                <td colspan="5" class="collapse-on">
                    <font th:text=${servicePlan.kindUnitNumberManagements[0].baseUnitNumber}></font>
                </td>
                <td colspan="2" class="collapse-on">
                    <font th:text=${servicePlan.kindUnitNumberManagements[0].totalUnitNumber}></font>
                </td>
                <td colspan="4" class="collapse-on">
                    <font th:text=${servicePlan.kindUnitNumberManagements[0].overUnitNumber}></font>
                </td>
                <td colspan="9" class="collapse-on">
                    <font th:text=${servicePlan.kindUnitNumberManagements[1].serviceKindCode}></font>
                </td>
                <td colspan="5" class="collapse-on">
                    <font th:text=${servicePlan.kindUnitNumberManagements[1].baseUnitNumber}></font>
                </td>
                <td colspan="2" class="collapse-on">
                    <font th:text=${servicePlan.kindUnitNumberManagements[1].totalUnitNumber}></font>
                </td>
                <td colspan="4" class="collapse-on">
                    <font th:text=${servicePlan.kindUnitNumberManagements[1].overUnitNumber}></font>
                </td>
                <td colspan="15">
                </td>
            </tr>
            <tr>
                <td colspan="9" class="collapse-on">
                    <font th:text=${servicePlan.kindUnitNumberManagements[2].serviceKindCode}></font>
                </td>
                <td colspan="5" class="collapse-on">
                    <font th:text=${servicePlan.kindUnitNumberManagements[2].baseUnitNumber}></font>
                </td>
                <td colspan="2" class="collapse-on">
                    <font th:text=${servicePlan.kindUnitNumberManagements[2].totalUnitNumber}></font>
                </td>
                <td colspan="4" class="collapse-on">
                    <font th:text=${servicePlan.kindUnitNumberManagements[2].overUnitNumber}></font>
                </td>
                <td colspan="9" class="collapse-on">
                    <font th:text=${servicePlan.kindUnitNumberManagements[3].serviceKindCode}></font>
                </td>
                <td colspan="5" class="collapse-on">
                    <font th:text=${servicePlan.kindUnitNumberManagements[3].baseUnitNumber}></font>
                </td>
                <td colspan="2" class="collapse-on">
                    <font th:text=${servicePlan.kindUnitNumberManagements[3].totalUnitNumber}></font>
                </td>
                <td colspan="4" class="collapse-on">
                    <font th:text=${servicePlan.kindUnitNumberManagements[3].overUnitNumber}></font>
                </td>
                <td colspan="15">
                </td>
            </tr>
            <tr>
                <td colspan="9" class="collapse-on">
                    <font th:text=${servicePlan.kindUnitNumberManagements[4].serviceKindCode}></font>
                </td>
                <td colspan="5" class="collapse-on">
                    <font th:text=${servicePlan.kindUnitNumberManagements[4].baseUnitNumber}></font>
                </td>
                <td colspan="2" class="collapse-on">
                    <font th:text=${servicePlan.kindUnitNumberManagements[4].totalUnitNumber}></font>
                </td>
                <td colspan="4" class="collapse-on">
                    <font th:text=${servicePlan.kindUnitNumberManagements[4].overUnitNumber}></font>
                </td>
                <td colspan="9" class="collapse-on">
                    <font th:text=${servicePlan.kindUnitNumberManagements[5].serviceKindCode}></font>
                </td>
                <td colspan="5" class="collapse-on">
                    <font th:text=${servicePlan.kindUnitNumberManagements[5].baseUnitNumber}></font>
                </td>
                <td colspan="2" class="collapse-on">
                    <font th:text=${servicePlan.kindUnitNumberManagements[5].totalUnitNumber}></font>
                </td>
                <td colspan="4" class="collapse-on">
                    <font th:text=${servicePlan.kindUnitNumberManagements[5].overUnitNumber}></font>
                </td>
                <td colspan="15">
                </td>
            </tr>
            <tr>
                <td colspan="9" class="collapse-on">
                    <font th:text=${servicePlan.kindUnitNumberManagements[6].serviceKindCode}></font>
                </td>
                <td colspan="5" class="collapse-on">
                    <font th:text=${servicePlan.kindUnitNumberManagements[6].baseUnitNumber}></font>
                </td>
                <td colspan="2" class="collapse-on">
                    <font th:text=${servicePlan.kindUnitNumberManagements[6].totalUnitNumber}></font>
                </td>
                <td colspan="4" class="collapse-on">
                    <font th:text=${servicePlan.kindUnitNumberManagements[6].overUnitNumber}></font>
                </td>
                <td colspan="9" class="collapse-on">
                    <font th:text=${servicePlan.kindUnitNumberManagements[7].serviceKindCode}></font>
                </td>
                <td colspan="5" class="collapse-on">
                    <font th:text=${servicePlan.kindUnitNumberManagements[7].baseUnitNumber}></font>
                </td>
                <td colspan="2" class="collapse-on">
                    <font th:text=${servicePlan.kindUnitNumberManagements[7].totalUnitNumber}></font>
                </td>
                <td colspan="4" class="collapse-on">
                    <font th:text=${servicePlan.kindUnitNumberManagements[7].overUnitNumber}></font>
                </td>
                <td colspan="15">
                </td>
            </tr>
            <tr>
                <td colspan="9" class="collapse-on">
                    <font th:text=${servicePlan.kindUnitNumberManagements[8].serviceKindCode}></font>
                </td>
                <td colspan="5" class="collapse-on">
                    <font th:text=${servicePlan.kindUnitNumberManagements[8].baseUnitNumber}></font>
                </td>
                <td colspan="2" class="collapse-on">
                    <font th:text=${servicePlan.kindUnitNumberManagements[8].totalUnitNumber}></font>
                </td>
                <td colspan="4" class="collapse-on">
                    <font th:text=${servicePlan.kindUnitNumberManagements[8].overUnitNumber}></font>
                </td>
                <td colspan="9" class="collapse-on">
                </td>
                <td colspan="5" class="collapse-on">
                </td>
                <td colspan="2" class="collapse-on">
                </td>
                <td colspan="4" class="collapse-on">
                </td>
                <td colspan="15">
                </td>
            </tr>
            <tr>
                <td colspan="9" class="collapse-on">
                </td>
                <td colspan="5" class="collapse-on">
                </td>
                <td colspan="2" class="collapse-on">
                </td>
                <td colspan="4" class="collapse-on">
                </td>
                <td colspan="9" class="collapse-on">
                </td>
                <td colspan="5" class="collapse-on">
                </td>
                <td colspan="2" class="collapse-on">
                </td>
                <td colspan="4" class="collapse-on">
                </td>
                <td colspan="15">
                </td>
            </tr>
            <tr>
                <td colspan="9" class="collapse-on">
                </td>
                <td colspan="5" class="collapse-on">
                </td>
                <td colspan="2" class="collapse-on">
                </td>
                <td colspan="4" class="collapse-on">
                </td>
                <td colspan="9" class="collapse-on">
                </td>
                <td colspan="5" class="collapse-on">
                </td>
                <td colspan="2" class="collapse-on">
                </td>
                <td colspan="4" class="collapse-on">
                </td>
                <td colspan="15">
                </td>
            </tr>
            <tr>
                <td colspan="9" class="collapse-on">
                </td>
                <td colspan="5" class="collapse-on">
                </td>
                <td colspan="2" class="collapse-on">
                </td>
                <td colspan="4" class="collapse-on">
                </td>
                <td colspan="9" class="collapse-on">
                </td>
                <td colspan="5" class="collapse-on">
                </td>
                <td colspan="2" class="collapse-on">
                </td>
                <td colspan="4" class="collapse-on">
                </td>
                <td colspan="15">
                </td>
            </tr>
            <tr>
                <td colspan="55">
                </td>
            </tr>
            <tr>
                <td colspan="55">
                </td>
            </tr>
            <tr>
                <td colspan="9">
                    <font>要介護認定期間中の短期入所利用日数</font>
                </td>
                <td colspan="46">
                </td>
            </tr>
            <tr>
                <td colspan="5" class="collapse-on">
                    <font>前月までの利用日数</font>
                </td>
                <td colspan="5" class="collapse-on">
                    <font>当月の計画利用日数</font>
                </td>
                <td colspan="5" class="collapse-on">
                    <font>累積利用日数</font>
                </td>
                <td colspan="40">
                </td>
            </tr>
            <tr>
                <td colspan="5" class="collapse-on">
                    <font th:text=${servicePlan.useCountShortStay.previousMonthCount}></font>
                </td>
                <td colspan="5" class="collapse-on">
                    <font th:text=${servicePlan.useCountShortStay.thisMonthCount}></font>
                </td>
                <td colspan="5" class="collapse-on">
                    <font th:text=${servicePlan.useCountShortStay.accumulateCount}></font>
                </td>
                <td colspan="40">
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</body>
</html>