name: action
on: push

jobs:
  test:
    name: Execute Test
    if: github.ref == 'refs/heads/master' # test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2.0.0
      - name: Config JRE
        uses: actions/setup-java@v1
        with:
          java-version: '9.0.4'
          java-package: jdk
      - name: Execute
        run: mvn test
  build:
    name: Create Artifact
    # if: github.ref == 'refs/heads/master'
    # needs: test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2.0.0
      - name:  Config JRE
        uses: actions/setup-java@v1
        with:
          java-version: '9.0.4'
          java-package: jdk
      - name: Package
        run: mvn clean package
      - name: Upload
        uses: actions/upload-artifact@v1
        with:
          name: care-standard-form.jar
          path: target/care-standard-form-1.0-SNAPSHOT.jar
  deploy:
    name: Deploy and Restart Application
    runs-on: ubuntu-latest
    # if: github.ref == 'refs/heads/master'
    needs: build
    steps:
      - name: Install SSH key
        run: |
          echo "${{ secrets.AWS_EC2_KEY }}" > ~/secret_key
          chmod 600 ~/secret_key
      - name: Download Artifact
        uses: actions/download-artifact@v1
        with:
          name: care-standard-form.jar
          path: target
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ECR_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_ECR_SECRET_ACCESS_KEY }}
      - name: Setup tmate session
        uses: mxschmitt/action-tmate@v1
